@charset "utf-8";
body {
  margin: 0;
  padding: 0;
  background-color: rgba(202, 202, 202, 1.00);
}
#Holder {
  width: 974px;
  height: 600px;
  margin: 11px auto;
  background-color: #FFF;
  padding: 6px;
}