@charset "utf-8";
.main-content-wrapper {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  z-index: 0;
  height: 100vh;
  overflow-y: auto;
}
.main-content-carousel-control {
  width: 80px;
  height: 100%;
}
.main-content-sports-live {
  width: 100%;
  position: fixed;
  z-index: 0;
  height: 100vh;
  overflow-y: auto;
}
.main-content-sports-everything {

}
.sports-live-left-panel-wrapper {
  width: 25%;
  float: left;
  overflow-y: hidden;
  position: fixed;
  height: 100%;
}
.sports-live-right-panel-wrapper {
  float: right;
  width: 75%;
  height: 100%;
}
#main-content-ghostbar {
  width:3px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:1;
}
#main-content-dragbar-wrapper {
  /*
  display: inline;
  width: 5px;
  height: 100%;
  background-color: #444;
*/
  background-color: rgba(132,132,132,1.00);
  height: 100%;
  float: right;
  width: 5px;
  cursor: col-resize;
  z-index: 1;
}
#main-content-dragbar-handle {
  position: fixed;
  height: 60px;
  opacity: 1;
  top: 50%;
  width: 10px;
  margin-left: -5px;
}
#sports-live-logo {
  margin-top: 10px;
  margin-left: 80px;
  display: fixed;
}
.sports-live-calendar {
  display: fixed;
  margin-left: 70px;
  margin-top: 10px;
}
#sports-live-settings-category {
  margin-left: 84px;
  width: 262px;
  display: inline-block;
  border: 2px solid rgba(116,116,116,1.00);
  margin-top: 20px;
  height: 173px;
}
#sports-live-settings-is-started {
  margin-left: 84px;
  width: 262px;
  display: inline-block;
  border: 2px solid rgba(116,116,116,1.00);
  margin-top: 20px;
  height: 98px;
}
#sports-everything-logo {
  margin-top: 10px;
  margin-left: 10px;
}
